<!DOCTYPE html>
<html>
<head>
	<title>Etsy-Searcher</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<%= yield %>

</html>